## Load historical data

In [248]:
import yfinance as yf
import pandas as pd

ticker = yf.Ticker('AAPL')
#df = ticker.history(period='15y', interval="1d")

In [249]:
shares = ticker.shares["BasicShares"].iloc[-1]
shares

16701272000

## Financials

In [250]:
cash = ticker.balance_sheet.T["Cash"].iloc[0]
cash

34940000000.0

In [251]:
netincome_df = ticker.cashflow.T[["Net Income"]].sort_values("")
netincome_df = netincome_df.reset_index()
netincome_df

                Net Income
0 2018-09-29  5.953100e+10
1 2019-09-28  5.525600e+10
2 2020-09-26  5.741100e+10
3 2021-09-25  9.468000e+10

In [252]:
netincome_df["Growth"] = (netincome_df["Net Income"] - netincome_df["Net Income"].shift())/netincome_df["Net Income"]
netincome_df = netincome_df.fillna(0).iloc[1:, :][["Net Income", "Growth"]]
netincome_df

     Net Income    Growth
1  5.525600e+10 -0.077367
2  5.741100e+10  0.037536
3  9.468000e+10  0.393631

## Params

In [253]:
import math

discount_rate = 0.10
years = 60
maturity = math.floor(years/2)
growth = netincome_df["Growth"].mean(axis=0)
growth_slowdown = 0.05

## Add forcast

In [254]:
for i in range(years):
    row ={"Net Income": netincome_df["Net Income"].iloc[-1] * (growth+1), "Growth": growth}
    rowdf = pd.DataFrame.from_records([row])
    netincome_df = pd.concat([netincome_df, rowdf], ignore_index=True, axis=0)
    if i == maturity:
        growth = -growth_slowdown
    
    if i >= maturity:
        growth = growth * (1 + growth_slowdown)
    else:
        growth = growth * (1 - growth_slowdown)

netincome_df = netincome_df.iloc[3:, :]
netincome_df

      Net Income    Growth
3   1.058459e+11  0.117933
4   1.177046e+11  0.112037
5   1.302325e+11  0.106435
6   1.434007e+11  0.101113
7   1.571754e+11  0.096058
8   1.715184e+11  0.091255
9   1.863876e+11  0.086692
10  2.017380e+11  0.082357
11  2.175219e+11  0.078239
12  2.336898e+11  0.074327
13  2.501909e+11  0.070611
14  2.669738e+11  0.067081
15  2.839871e+11  0.063727
16  3.011798e+11  0.060540
17  3.185016e+11  0.057513
18  3.359037e+11  0.054638
19  3.533390e+11  0.051906
20  3.707623e+11  0.049310
21  3.881306e+11  0.046845
22  4.054034e+11  0.044503
23  4.225429e+11  0.042277
24  4.395137e+11  0.040164
25  4.562836e+11  0.038155
26  4.728228e+11  0.036248
27  4.891045e+11  0.034435
28  5.051049e+11  0.032714
29  5.208024e+11  0.031078
30  5.361786e+11  0.029524
31  5.512172e+11  0.028048
32  5.659046e+11  0.026645
33  5.802294e+11  0.025313
34  5.497673e+11 -0.052500
35  5.194614e+11 -0.055125
36  4.893943e+11 -0.057881
37  4.596512e+11 -0.060775
38  4.303190e+11 -0.063814
39  4.014856e+11 -0.067005
40  3.732390e+11 -0.070355
41  3.456668e+11 -0.073873
42  3.188547e+11 -0.077566
43  2.928857e+11 -0.081445
44  2.678390e+11 -0.085517
45  2.437890e+11 -0.089793
46  2.208039e+11 -0.094282
47  1.989451e+11 -0.098997
48  1.782655e+11 -0.103946
49  1.588089e+11 -0.109144
50  1.406093e+11 -0.114601
51  1.236896e+11 -0.120331
52  1.080617e+11 -0.126348
53  9.372575e+10 -0.132665
54  8.066992e+10 -0.139298
55  6.887090e+10 -0.146263
56  5.829397e+10 -0.153576
57  4.889377e+10 -0.161255
58  4.061519e+10 -0.169318
59  3.339447e+10 -0.177784
60  2.716063e+10 -0.186673
61  2.183697e+10 -0.196006
62  1.734278e+10 -0.205807

In [255]:
cashflows = netincome_df["Net Income"].to_list()

## DCF

In [256]:
import numpy_financial  as npf

npv = npf.npv(discount_rate, cashflows);
value = npv + cash
forcast_price = value/shares
forcast_price

156.08760480771898